/* BoardForm.css */
.form-container {
  width: 40%; /* 필요에 따라 너비 조정 */
  margin: 0 auto; /* 중앙 정렬을 위한 왼쪽, 오른쪽 여백 자동 설정 */
}

.form-group {
  margin-bottom: 20px; /* 각 input과 textarea 아래 여백 설정 */
}

.form-group label {
  display: block; /* label을 블록 요소로 설정하여 위에서 아래로 배치 */
  margin-bottom: 5px; /* label 아래 여백 설정 */
}

.form-group input[type="text"],
.form-group textarea {
  border: none; /* 테두리 제거 */
  border-bottom: 1px solid #ccc; /* 밑줄 스타일 설정 */
  width: 100%; /* 너비 100% 설정 */
  padding: 5px; /* 내부 여백 설정 */
  box-sizing: border-box; /* 패딩과 테두리를 포함하여 요소의 전체 크기 계산 */
}

/* 선택된 input 또는 textarea에 focus 시 밑줄 색 변경 */
.form-group input[type="text"]:focus,
.form-group textarea:focus {
  border-bottom: 1px solid blue; /* 포커스 시 밑줄 색 변경 */
}

.button-container {
  display: flex;
  justify-content: center;
}
.submit-button {
  height: 50px;
  width: 150px;
  background-color: #6cb8fb;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: lightcyan;
}

.form-input {
  transition: border-color 0.2s;
}
.form-input:focus {
  border-color: #60a5fa;
}
